.traveljournal-main{
    margin:0;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    font-family:"Calibri", sans-serif;
}

.traveljournal-container {
    margin: 45px 40px;
}
.traveljournal-header{
    background: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 55px;
}

.traveljournal-header > img.traveljournal-header-img {
    width:35px;
    margin-right: 7px;
    
}
.traveljournal-header .traveljournal-header-name{
    font-family: Inter, sans-serif;
    font-size: 1.29rem;
    font-weight: 700;

}
.traveljournal-header  .invert{
    -webkit-filter: invert(100%);
}
.traveljournal-header .navbar .nav-list .nav-list-item {
    font-size: 0.9rem;
    font-weight: 500;
    font-family: Inter, sans-serif;
}
.locations-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1em;
    padding: 20px;
    /* width: 100%;
    height: 100%; */
   
}
article.journal-entry{
    display: flex;
  
}
img.marker{
    max-width: 12px;
    margin-right: 4px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
article.journal-entry  .image-container{
    width: 125px;
    height: 168px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 19px;
}
article.journal-entry .image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info-container span.country {
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-right: 12px;
}

.info-container a {
    color: #bab9bb;
    font-size: 0.7rem;
}

.info-container a:visited {
    color: #918E9B;
}
.info-container a:hover {
    color: #F55A5A;
    font-size: 0.7rem;
}

.info-container h2.entry-title {
    margin-top: 7px;
    margin-bottom: 17px;
}

.info-container p.trip-dates {
    font-weight: bold;
    font-family:"Calibri", sans-serif;
    color: #bab9bb;
    font-size: 0.8rem;
    line-height: 0.7;
    margin:0;
    padding: 0;
}

.info-container p.entry-text {
    line-height: 1.5;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}