* {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    color: rgb(44, 87, 107);
}
body {
    margin: 0;
    font-family: Inter, sans-serif;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:11px;
    background-color: aquamarine;
    height: 80px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}
header>img{
    height:65px;
    transition: filter .5s ease-in-out;
}
header > img:hover {
    filter: brightness(120%);
}

header > h1{
    font-weight: 900;
    color: rgb(44, 87, 107);
}
main{
    padding: 30px 30px 10px;
}

.add-ingredient-form{
    display: flex;
    justify-content: center;
    gap: 12px;
    height: 38px;

}
.add-ingredient-form >input {
    border-radius: 6px;
    border: 1px solid rgb(44, 87, 107);
    padding: 9px 13px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px;
    color: rgb(44, 87, 107);
}
.add-ingredient-form > button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 6px;
    border:none;
    background-color: rgb(199, 223, 215);
    color: rgb(44, 87, 107);
    width: 150px;
    font-size: 0.875rem;
    font-weight: 500;
}
.add-ingredient-form > button ::before{
    content: "+";
    margin-right: 5px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: justify;
    padding: 30px 30px 10px;
}
.list-ingredients{
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(44, 87, 107);
    text-transform: uppercase;
    font-family: Karla, sans-serif;
}