#root {
  margin: 0 ;
  padding: 0;
 
}
body {
  margin: 0;
  padding: 0;
 
}
.main-content-body{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
  font-family: Inter, sans-serif;
}

.header-logo-pop {
  will-change: filter;
  transition: filter 900ms;
  
}
.header-logo-pop:hover {
  filter: drop-shadow(0 0 2em #ff64ac);
}
.header-logo-pop:hover {
  filter: drop-shadow(0 0 2em #fb61ee);
}
.home-header{
  display:flex;
  align-items: center;
  padding:0  1.5em;
 height: auto; 
 background-color: #122833;
 width: 100%;
}
.home-header .navbar .nav-list .nav-list-item {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: Inter, sans-serif;
  color: #61DAFB;
}
.layered {
  box-shadow:
  0 6px 5px hsl(0deg 0% 0% / 0.3);
}
span.header-logo{

font-size: 2.4rem;
font-weight: 700;
padding: 0 1.5em;
color: #61DAFB;
}
.card {
  padding: 2em;
}
.list{
  text-align: justify;
  display: flex;
  flex-direction: column;
}
.year{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style:italic;
  font-size: x-small;
}
.list > li::marker{
  color: #61DAFB;
  font-size: 1.1rem;
}

.main-wrapper {
  display: flex;
 flex-direction: column;
}
.footer {
  padding:1.5em;
  color: #dddddd;
  background-color: #21222A;
  display:flex;
  justify-content: center;
}
