.navbar .nav-list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    background-color: inherit;
    justify-content: space-between;
  }
  .navbar{
    background-color: inherit;
  }
  li.nav-list-item{
    color: inherit;
    font-style: inherit;
  }
  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
}
.navbar .nav-list .nav-list-item {
  font-weight: 600;
  color: inherit;
  text-decoration: inherit;
}
